n8n-webhook-workflow.json
{
  "name": "Mattera - Contact Form Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mattera-contact",
        "responseMode": "onReceived",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "mattera-contact-form"
    },
    {
      "parameters": {
        "functionCode": "// Extract form data from the webhook\nconst body = $input.item.json;\n\nconst leadData = {\n  nombre: body.nombre || '',\n  email: body.email || '',\n  telefono: body.telefono || '',\n  negocio: body.negocio || '',\n  tipo: body.tipo || '',\n  mensaje: body.mensaje || '',\n  fecha: new Date().toISOString()\n};\n\nreturn [{ json: leadData }];"
      },
      "id": "process-lead",
      "name": "Process Lead Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "node": "Mattera Leads",
        "sheetId": "0",
        "options": {
          "valueInputMode": "USER_ENTERED"
        }
      },
      "id": "save-to-sheet",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1000, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "to": "={{ $json.email }}",
        "subject": "=?utf-8?Q?=F0=9F=9A=80_We_received_your_inquiry_-_Mattera?=",
        "body": "=?utf-8?Q?Hola__{{ $json.nombre }}_! =?utf-8?Q?Gracias_por_contactarnos.=0D=0A=0D=0ANospondremos_a_tu_mensaje_lo_m=C3=A1s_pronto_posible._=0D=0A=0D=0AAtentamente=0D=0AEquipo_Mattera=",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1000, 500],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telefono }}",
        "text": "=?utf-8?Q?=F0=9F=9A=80_Hola__{{ $json.nombre }}_! =?utf-8?Q?Gracias_por_tu_mensaje._Recibimos_tu_inquiry_y_nospondremos_en_contacto_contigo_pronto.=0D=0A=0D=0A=F0=9F=8C=8D_Equipo_Mattera=",
        "media": "=",
        "additionalFields": {}
      },
      "id": "notify-whatsapp",
      "name": "Notify via WhatsApp (Ycloud)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 100],
      "method": "POST",
      "url": "=https://{{ $env.YCLOUD_API_HOST }}/v1/messages",
      "authentication": "genericCredentialType",
      "genericAuthType": "httpHeaderAuth",
      "headers": {
        "Authorization": "=Bearer {{ $env.YCLOUD_API_KEY }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Lead Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify via WhatsApp (Ycloud)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["mattera", "leads", "contact-form"],
  "triggerCount": 1,
  "updatedAt": "2026-04-02T11:04:00.000Z",
  "versionId": "1"
}
