n8n-contact-webhook.json
{
  "name": "Mattera - Contact Form Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "mattera-contact",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mattera-contact-form",
      "triggerCount": 1
    },
    {
      "parameters": {
        "functionCode": "// Extract query parameters from GET request\nconst query = $input.item.json.query || {};\n\nconst leadData = {\n  nombre: query.nombre || '',\n  email: query.email || '',\n  telefono: query.telefono || '',\n  negocio: query.negocio || '',\n  tipo: query.tipo || '',\n  mensaje: query.mensaje || '',\n  fecha: new Date().toISOString(),\n  ip: $input.item.json.ip || 'unknown'\n};\n\nreturn [{ json: leadData }];"
      },
      "id": "process-lead",
      "name": "Process Lead Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": {
          "kind": "json",
          "data": {
            "status": "success",
            "message": "Datos recibidos correctamente",
            "timestamp": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["mattera", "leads", "contact-form"],
  "updatedAt": "2026-04-02T11:13:00.000Z",
  "versionId": "1"
}
